AIRFLOW_UID=50000
# generate: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=
# generate: python -c "import secrets; print(secrets.token_urlsafe(42))"
SUPERSET_SECRET_KEY=
# optional, default admin/admin
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_PASSWORD=
